<div id="image-header" style="width: 100%; height: 97px; background-color:black; vertical-align: middle; text-align: center; font-weight:700; display: -webkit-flexbox; font-size: 2rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center; color:white;">
    <a href="https://twitter.com/hashtag/BlackLivesMatter" style="color: white; text-decoration: none">"I can't
        breathe"</a>
</div>
<div class="climate-change"
    style="padding: 3px 3px 5px; border-bottom: 2px solid rgba(255, 255, 255, 0.5; margin-top: 0px; background-color: black;">
    <a href="https://en.wikipedia.org/wiki/Killing_of_George_Floyd">George Floyd</a>, May
    25, 2020 <a href="https://twitter.com/hashtag/BlackLivesMatter">#blacklivesmatter</a></div>