{{ define "header" }}
<header class="main-head">
	{{ template "blm-header.html" . }}
	{{/* template "image-header.html" . */}}
</header>
<header class="subheader">
	<h1 id="title">
		<span class="main"><a href="/">monkinetic</a></span>
		<span class="subhead" nowrap="nowrap">the blog</span>
	</h1>
	<div class="h-card byline">
		<img class="u-photo" style="display:none" src="{{ .Config.Blog.Author.Image }}">
		<p class="p-note">The weblog of <a href="{{ .Config.Blog.Url }}" class="p-name u-url" rel="me">Steve Ivy</a>,
			going since 1999 in
			one form or another. Still something of a CMS junkie.
		</p>
		<p><em>XVI Edition.</em></p>
	</div>
	<nav class="nav">
		<ul>
			<li><i class="fa fa-fw fa-question-circle"></i> <a href="/about">About This Site</a></li>
			<li><i class="fa fa-fw fa-archive"></i> <a href="/archive">Archive</a></li>
			<li>
				<i class="fa fa-fw fa-rss"></i>
				<a href="/feed.xml" title="Subscribe to monkinetic.blog">Subscribe</a>
			</li>
			<li><i class="fa fa-fw fa-search"></i> <a href="/#search">Search</a></li>
			<li><i class="fa fa-fw fa-bookmark"></i> <a href="/tag/bookmark">Bookmarks</a></li>
		</ul>
	</nav>
</header>
{{ end }}