{{ define "icons" }}
<h4>Follow Me On:</h4>
<nav>
	<ul>
		{{ range .Config.Services }}
		<li>
			{{  if .Class }}<i class="fa fa-fw {{ .Class}}"></i>{{  else  }}<img src="{{ .Icon }}"
				style="width:16px">{{  end  }}

			<a href="{{ .Link }}" rel="me nofollow" target="_new" title="Follow me on {{ .Name }}">{{ .Name }}</a>
		</li>
		{{ end }}
	</ul>
</nav>

<h4>Reading:</h4>
<nav>
	<ul>
		{{ range .Config.Links }}
		<li>
			{{  if .Class }}<i class="fa fa-fw {{ .Class}}"></i>{{  else  }}<img src="{{ .Icon }}"
				style="width:16px">{{  end  }}

			<a href="{{ .Link }}" target="_new" title="{{ .Name }}">{{ .Name }}</a>
		</li>
		{{ end }}
	</ul>
</nav>

{{ end }}