{{ define "notecontent" }}
<div class="note h-entry" id="{{ .Slug }}">
    <span class="meta">

        <a class="u-author h-card" href="{{ .User.Url }}"><img class="note_avatar u-photo" src="{{ .User.Image }}">
            {{ .User.DisplayName }}</a>

        <span class="timestamp"><a class="u-url" href='{{ .PostDate.Format "/2006/01/02/" }}'><span class="title-hash"
                    style="font-weight: normal"><time class="dt-published"
                        datetime='{{ .PostDate.Format "2006-01-02 15:04:05" }}'>{{ .PostDate.Format "2006-01-02" }}</time></span></a>
            {{ if .User.IsAdmin }} <a href="/edit/{{ .ID }}"><i class="fas fa-pencil-alt"></i></a>{{ end }}
        </span></span>

    <div class="e-content">
        {{ .Body | markdown | hashtags }}
        <p><small>~ <a class="u-url" href='{{ .PostDate.Format "/2006/01/02/" }}#{{ .Slug }}'>#
                    {{ .PostDate.Format "15:04" }}</a>
                ~</small></p>
    </div>
    {{ template "syndication" . }}
</div>
{{ end }}