{{ define "notecontent" }}

<div class="note h-entry" id="{{ .Slug }}">
    <span class="meta h-card">
        <img class="note_avatar u-photo" src="{{ .User.Image }}">
        <a class="u-author" href="{{ .User.Url }}">{{ .User.DisplayName }}</a>

        <span class="timestamp"><a class="u-url" href='{{ .PostDate.Format "/2006/01/02/" }}#{{ .Slug }}'><span
                    class="title-hash" style="font-weight: normal"># <time
                        class="dt-published">{{ .PostDate.Format "2006-01-02" }}</time></span></a>
        </span></span>

    <div class="e-content p-name">
        {{ .Body | markdown | hashtags }}
    </div>
    {{ template "syndication" . }}
</div>
{{ end }}