{{ define "postform" }}
<div class="postform new">
    <h2>New Post</h2>
    <form enctype="multipart/form-data" id="postform" action="{{ .FormAction }}" method="POST">
        <div class="form-section">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Post Title" value="{{ .Post.Title }}" />
        </div>
        {{ if .ShowSlug }}
        <div class="form-section">
            <label for="slug">Slug</label>
            <input type="text" name="slug" placeholder="Leave blank to auto-generate from title"
                value="{{ if .Post.Title }}{{ .Post.Slug }}{{ end }}" />
        </div>
        {{ end }}
        <div class="form-section">
            <label for="tags">Tags</label>
            <input type="text" name="tags" placeholder="Post Tags" value='{{ .Post.Tags | join ","}}' />
        </div>
        <div class="form-section">
            <label>Add Image <input type="file" name="postimage" /></label>
        </div>
        <div class="form-section">
            <label for="tags">Post content (markdown supported)</label>
            <textarea name="body" rows="{{ .TextHeight | default 10 }}"
                placeholder="Post content">{{ .Post.Body }}</textarea>
        </div>
        <div class="form-section">
            Syndicate:
            <label style="cursor:default"><input type="checkbox" name="twitter" value="on"> Twitter</label>
            <label style="cursor:default"><input type="checkbox" name="mastodon" value="on"> Toot.cafe</label>
        </div>
        <button>Publish</button>
    </form>
</div>
{{ end }}