/* name things */
.main-head {
    grid-area: header;
}
.subheader {
    grid-area: subhead;
}
.content {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}

/*  */
.wrapper {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-areas:
        "header"
        "subhead"
        "content"
        "sidebar"
        "footer";
    padding: 0 2em;
}
.nav ul {
    display: flex;
    /* justify-content: space-between; */
}

#post-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3px 8px 3px 3px;
}

/*  */
@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 20em 1fr 50px;
        grid-template-areas:
            "header header"
            "subhead content"
            "sidebar content"
            "footer footer";
        max-width: 940px;
        margin: 0 auto;
    }
    .nav ul {
        display: block;
        /* justify-content: space-between; */
    }
    .nav ul li {
        display: list-item;
    }
}