body {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    margin: 0 auto 50px ;
    background-color: #0F2F4F;
    color: #fff;
    /* width: 760px; */
    line-height: 1.2;
}

a {
    color: #F95D5C;
}

a:hover {
    color: #F95D5C;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}
h2, h3, h4 {
    font-weight: normal;
    margin-top: 0;
}

h1#title {
    text-transform: uppercase;
    /* border: 1px dotted red; */
    margin-top: 5px;
}

h1#title .main {
    background: #F95D5C;
    font-weight: 700;
    padding: 3px 8px;
}
h1#title .main a {
    color: #fff;
    text-decoration: none;
}
h1#title .subhead {
    display: block;
    color: #fff;
    padding: 8px;
    font-weight: normal;
    white-space: nowrap;
}
h1#title span.main, h1#title span.subhead {
    /* display: inline-block; */
}
p.byline {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    /* border-left: 2px solid rgb(255,255,255, 0.5); */
    margin-left: 8px;
    padding: 5px 5px 5px 0;
    /* text-align: center; */
}

footer, div.image-header {
    /* width: 726px; */
    /* margin: 0 auto; */
    /* background: #daeef3; */
    padding: 20px 30px;
    clear: both;
}
div.page {
    /* float: left; */
    /* width: 63%; */
    padding: 5px 0 15px 2%;
}

.sidebar {
    margin-top: 20px;
}
.sidebar nav {
    margin-left: 8px;
}
.sidebar nav ul {
    padding-left: 0;
    list-style-type: none;
}
nav ul li {
    margin-top: 5px;

}

/* header */

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}
.climate-change {
    font-size: 70%;
    text-align: right;
    margin: 5px 0 10px;
}

/* blog post styles */
.meta {
    font-size: smaller;
}
h2 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
}
blockquote {
    margin-left: 0px;
    border-left: 2px solid rgb(255,255,255, 0.5);
}
blockquote p {
    padding: 3px 10px;
}

body.page div.page {
    /* width: auto; */

}

div.images {
    margin: 0 -15px 0 0;
}

section.post-body {
    line-height: 1.5;

}
.post-footer {
    margin: 5px 0;
    font-size: smaller;
}
.post-footer a {
    text-decoration: none;
}

/* blog-archive */
ol.archive-ol li,
ol.archive-ol li ol li {
    list-style-type: none;
    margin-top: 10px;
}

ol.archive-ol,
ol.archive-ol li ol {
    padding-left: 0px;
    margin-left: 10px;
}

li.archive-item {
    list-style-type: disc;
}

/* archive chart */
.post-bar {
    display:inline-block;
    height: .6em;
    min-width: 5px;
    /* max-width: 300px; */
}

img {
    max-width: 100%;
}

.postform {
    padding: 0 0 1em;
    border-bottom: 5px solid rgba(255,255,255,0.5);
}

.postform textarea {
    width:95%;
    padding: 2%;
    font-size: 110%;
}

.postform input[type=text] {
    width: 97%;
    padding: 3px;
    font-size: 101%;
}

.postform .form-section {
    margin: 0 0 1em 0;
}

.postform .form-section label {
    margin-bottom: 1em;
    /* font-weight: bold; */
    font-size: 85%;
}

.postform button {
    font-size: 103%;
}

.form-section.danger h2 {
    background-color: #F95D5C;
    color: white;
    padding: 3px;
    font-size: 95%;
    font-weight: bold;
}

article {
    margin-top: 50px;
}

article h2 {
    margin: 20px 0 8px;
}

body.pagebody .page {
    /* width: 96%; */
}

div.note {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    font-size: 95%;
}

div.note p {
    margin-bottom: 0;
    margin-left: 58px;
}
div.note .meta {
    font-size: 90%;
}

div.note .note_avatar {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin-right: 10px;
}

div.note .timestamp {
    float: right;
}

.e-content img {
    border: 3px solid rgba(255,255,255,0.9);
}

.flash {
    padding: 12px 8px;
    color: #fff;
    background-color: #F95D5C;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

div.note .syndication {
    margin-left: 58px;
}

.archive-list li {
    margin: 10px 0px 3px;
}

.archive-list .note {
    color: rgba(255, 255, 255, 0.6);
}

/* .archive-list .article .title {
    font-weight: bold;
} */

.syndication {
    font-size: 80%;
    list-style-type: none;
    padding-left: 0px;
}

.syndication li {
    display: inline-block;
    margin-right: 20px;
}

.syndication a {
    text-decoration: none;
}

.syndication i {
    color: #fff;
}

/* #createpost{
    display: none;
} */

#post-tabs button.dim {
    opacity: 0.5;
}

#post-tabs {
    display: flex;
    list-style-type: none;
    margin: 0 0 10px 0;
    /* width:100%; */
    padding: 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0.7);
}

#post-tabs li {
    display: inline-block;
    margin: 0 0px 0 0;
}
#post-tabs button {
    margin:0;
    padding: 5px 10px 5px 6px;
    background-color:#F95D5C;
    color: #fff;
    font-weight: bold;
    border: 0px;
    font-size: 100%;
}