{{ define "main" }}
{{$first := index .ArchiveData 0 }}
{{$n := len .ArchiveData}}

<h2>Monkinetic Archive, {{ with first .ArchiveData }}{{ .Year }}{{ end }}
    - {{ with last .ArchiveData }}{{ .Year }}{{ end }}
</h2>
<ul>
    {{ range .ArchiveData}}
    <li style="width: 100%"><span style="display:inline-block"><a
                title="{{ .CountPosts }} posts, {{ .CountNotes }} notes"
                href="/archive/{{ .Year }}/{{ .Month }}">{{ .Year }}/{{ .Month }}</a>
            {{ if not (eq .CountPosts 0) }}<div class="post-bar" title="{{ .CountPosts }} posts"
                style="width: {{ .CountPosts }}px;  background-color:rgb(125,188,219);">
            </div>{{ end}}
            {{ if not (eq .CountNotes 0) }}<div class="post-bar" title="{{ .CountNotes }} notes"
                style="width:{{ .CountNotes }}px; background-color: rgba(125,188,219, 0.5);">
            </div>{{ end }}
        </span>

    </li>
    {{ end }}
</ul>
{{ end }}