{{ define "main" }}
<h2>Monkinetic Archive, {{ .Year }}/{{ .Month }}</h2>

<ul class="archive-list" style="list-style-type: none">
    {{ range .Posts }}
    {{ if .Title }}
    <li class="article">{{ .PostDate.Format "Jan 02, 2006" }} <a class="title" href="{{ .PermaLink }}">{{ .Title }}</a>
        {{ if .Tags }}
        {{ range .Tags }}<a href="/tag/{{ . }} ">#{{ . }}</a> {{ end }}
        {{ end }}</li>
    {{ else }}
    <li class="note">{{ .PostDate.Format "Jan 02, 2006" }}
        {{ .Body | markdown | striphtml | truncatechars 35 }}{{ if .Tags }} -
        {{ range .Tags }}<a href="/tag/{{ . }} ">#{{ . }}</a> {{ end }}
        {{ end }} <a href="{{ .PermaLink }}">#</a></li>
    {{ end }}
    {{ end }}
</ul>

{{ end }}