{{ define "main" }}
{{$first := index .ArchiveData 0 }}
{{$n := len .ArchiveData}}

<h2>Monkinetic Archive, {{ with first .ArchiveData }}{{ .Year }}{{ end }}
    - {{ with last .ArchiveData }}{{ .Year }}{{ end }}
</h2>
<ul>
    {{ range .ArchiveData}}
    <li style="width: 100%"><span style="display:inline-block; width: 10em"><a
                href="/archive/{{ .Year }}/{{ .Month }}">{{ .Year }}/{{ .Month }}</a> - {{ .Count }}
            posts</span>
        <div class="post-bar"
            style="min-width: 2px; width: {{ .Count }}px; background-color: white; display:inline-block; height: 5px;">
        </div>
    </li>
    {{ end }}
</ul>
{{ end }}