{{ define "main"}}

{{ if .IsOwner }}
<div class="postform edit" style="padding: 0 1em 1em; border: 1px solid #ddd">
    <h2>Edit Post</h2>
    <form enctype="multipart/form-data" id="postform" action="{{ .FormAction }}" method="POST">
        <input type="hidden" name="postID" value="{{ .Post.ID }}" />
        <div class="form-section">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Post Title" value="{{ .Post.Title }}" />
        </div>
        <div class="form-section">
            <label for="slug">Slug: {{ .Post.Slug }}</label>
        </div>
        <div class="form-section">
            <label for="postdate">Post Date</label>
            <input name="postdate" placeholder="2006-01-02 15:04:05"
                value='{{ .PostDateInTimeZone.Format "2006-01-02 15:04:05" }}'>
        </div>
        <div class="form-section">
            <label for="tags">Tags</label>
            <input type="text" name="tags" placeholder="Post Tags" value=' {{ .Post.Tags | join ", " }}' />
        </div>
        <div class="form-section">
            <label>Add Image <input type="file" name="postimage" /></label>
        </div>
        <div class="form-section">
            <label for="tags">Post content (markdown supported)</label>
            <textarea name="body" rows="{{ .TextHeight | default 10 }}"
                placeholder="Post content">{{ .Post.Body }}</textarea>
        </div>
        <div class="form-section">
            {{ template "syndication_form" . }}
        </div>
        <button>Save Post</button>
    </form>

    <form id="deleteform" action="/delete" method="POST">
        <input type="hidden" value="{{ .Post.ID }}" name="postID" />
        <div class="form-section danger">
            <h2>Delete this Post <button id="delete"
                    onclick="return window.confirm(' Delete post {{ .Post.Title }}?');">Delete Post</button></h2>
            <p>This cannot be undone!</p>
        </div>
    </form>
</div>
{{ end }}
{{ end }}