{{ define "title" }}monkinetic.blog: {{ .Post.Title }}{{ end }}

{{ define "twittercard" }}
<meta name="twitter:title" content="{{ .Post.Title }}">
<meta name="twitter:description" content='{{ .Post.Body | markdown | striphtml | replace "\n" | truncatechars 200 }}'>
{{ end }}

{{ define "main" }}
<article>
    <h2>{{ .Post.Title }}</h2>
    <p class="post-meta">
        {{ template "postmeta" .Post }}
    </p>
    <div>
        {{ .Post.Body | markdown | hashtags }}
    </div>
</article>
{{ end }}