{{ define "title" }}monkinetic.blog: {{ .Post.Title }}{{ end }}

{{ define "twittercard" }}
<meta name="twitter:title" content="{{ .Post.Title }}">
<meta name="twitter:description" content='{{ .Post.Body | markdown | striphtml | replace "\n" | truncatechars 200 }}'>
{{ end }}

{{ define "main" }}
<article class="h-entry">
    <h2 class="p-name">{{ .Post.Title }}</h2>
    <p class="post-meta">
        {{ template "postmeta" .Post }}
    </p>
    <div class="e-content">
        {{ .Post.Body | markdown | hashtags }}
    </div>
    {{ template "posttags" .Post }}
</article>
{{ end }}