[Unit]
Description={{ item.ghost_description }}

[Service]
Type=simple
WorkingDirectory={{ item.ghost_home }}
User={{ app_user }}
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node index.js
LogLevelMax=6
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ item.ghost_service }}
Restart=always

[Install]
WantedBy=multi-user.target
Alias={{ item.ghost_service }}
