[Unit]
Description=Goldfrog Blog Server

[Service]
Environment="BLOGHOME={{ theme_location }}"
ExecStart=/usr/bin/goldfrogd --posts_dir {{ blog_posts }} --uploads_dir {{ blog_uploads }} --static_dir {{theme_location}}/static
LogLevelMax=6
StandardOutput=journal
StandardError=journal
# https://stackoverflow.com/questions/37585758/how-to-redirect-output-of-systemd-service-to-a-file
SyslogIdentifier=goldfrog

[Install]
WantedBy=multi-user.target
Alias=goldfrog blog
